---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../layouts/Page.astro";
import Roman from "../components/Roman";
import ActionButton from "../components/ActionButton.astro";
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} showTitle={false}>
  <div class="max-w-[40rem] w-full m-auto">
    <h1 class="font-bold text-6xl text-center w-full">Hi, my name's Roman!</h1>
    <Roman client:load />
    <div class="flex flex-col gap-6 text-2xl items-stretch w-full">
      <p>
        I'm a software engineer and researcher passionate about positively
        shaping the future of emerging technology, with a focus on the
        responsible development of advanced artificial intelligence.
      </p>
      <p>
        I believe the next decade will bring unprecedented technological
        advancements and rapid societal changes. My life mission is to help
        society navigate this transition by mitigating potential existential
        risks from advanced AI systems and otherwise aligning them with human
        values.
      </p>
    </div>
  </div>
</Page>
