---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../layouts/Page.astro";
import Roman from "../components/Roman";
import ActionButton from "../components/ActionButton.astro";
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} showTitle={false}>
  <section class="flex flex-col gap-6 items-center">
    <section>
      <h1 class="font-bold text-6xl max-w-[40rem] text-center">
        Hi, my name's Roman!
      </h1>
    </section>
    <section>
      <Roman client:load />
    </section>
    <section class="flex flex-col gap-6 items-center max-w-[40rem] text-2xl">
      <p>
        I'm a software engineer and researcher passionate about positively
        shaping the future of emerging technology, with a focus on the
        responsible development of advanced artificial intelligence.
      </p>
      <p>
        I believe the next decade will bring unprecedented technological
        advancements and rapid societal changes. My life mission is to help
        society navigate this transition by mitigating potential existential
        risks from advanced AI systems and otherwise aligning them with human
        values.
      </p>
    </section>
    <section class="flex flex-row gap-2">
      <ActionButton href="/contact" class="text-3xl px-8 py-4"
        >get in touch</ActionButton
      >
    </section>
  </section>
</Page>
