---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../layouts/Page.astro";
import Roman from "../components/Roman";
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} showTitle={false}>
  <div class="max-w-[40rem] w-full m-auto">
    <h1 class="font-bold text-6xl text-center w-full">Hi, my name's Roman!</h1>
    <Roman client:load />
    <div
      class="w-full prose prose-slate prose-invert prose-lg prose-a:no-underline prose-a:font-normal prose-a:bg-gray-700 prose-a:rounded prose-a:px-1 prose-a:py-0.5 prose-a:text-white hover:prose-a:bg-gray-500 active:prose-a:bg-gray-700 before:prose-code:content-none after:prose-code:content-none before:prose-p:content-none after:prose-p:content-none"
    >
      <p>
        I'm currently in my senior year studying Computer Science at the
        University of Texas at Dallas under a National Merit Scholarship. I also
        work as a software engineer at Baby Steps, a startup helping prospective
        parents decide which IVF clinic to go to using models that predict their
        success rates at each of the clinics in the US.
      </p>
      <p>
        In my free time, I enjoy weightlifting, running, and playing with software.
      </p>
      <h2>contact</h2>
      <p>
        <ul>
          <li>Give me anonymous feedback with <a href="https://www.admonymous.co/romanhauksson">Admonymous</a>.</li>
          <li>
            Email me at <a href="mailto:roman.i0djm@aleeas.com"
              >roman.i0djm@aleeas.com</a
            >.
          </li>
          <li>
            Schedule a call with me using <a
              href="https://cal.com/romanhauksson/meeting">Cal</a
            >.
          </li>
          <li>
            Check out my code on <a href="https://github.com/romanhauksson"
              >GitHub</a
            >.
          </li>
          <li>
            See my work experience on <a
              href="https://linkedin.com/in/romanhauksson">LinkedIn</a
            >.
          </li>
          <li>
            Read my thoughts on <a href="https://x.com/romanhauksson">Twitter</a
            >
            or <a href="https://bsky.app/profile/roman.technology">Bluesky</a>.
          </li>
          <li>
            Book a virtual coworking session with me on
            <a href="https://app.focusmate.com/user/romanhauksson">Focusmate</a
            >.
          </li>
        </ul>
      </p>
    </div>
  </div>
</Page>
