---
import type {
  SectionData,
  OrganizationData,
  PositionData,
  ItemData,
} from "../types/resume";

import "@fontsource-variable/space-grotesk";
import Link from "../components/resume/Link.astro";
import Acclaim from "../components/resume/Acclaim.astro";
import { Icon } from "astro-icon/components";
import Section from "../components/resume/Section.astro";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import capitalOneLogo from "../assets/capital-one-logo.png";
import acmResearchLogo from "../assets/acm-research-logo.png";
import jsocLogo from "../assets/jsoc-logo.png";
import utdLogo from "../assets/utd-logo.svg";
import babyStepsLogo from "../assets/baby-steps-logo.svg";
import dioptraLogo from "../assets/dioptra-logo-upscaled.png";

const sections: SectionData[] = [
  {
    name: "education",
    icon: "material-symbols:school-outline",
    type: "organizations",
    entries: [
      {
        name: "University of Texas at Dallas",
        image: utdLogo,
        positions: [
          {
            title: "B.S. in Computer Science",
            startMonth: "Aug 2021",
            endMonth: "Dec 2025 (Expected)",
            notes: [
              "National Merit Scholar, Cybersecurity Group officer, Open Source Software Club officer",
            ],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "work experience",
    type: "organizations",
    icon: "material-symbols:work-outline",
    entries: [
      {
        name: "Baby Steps",
        image: babyStepsLogo,
        positions: [
          {
            title: "Frontend Engineer",
            location: "Remote",
            startMonth: "Aug 2024",
            endMonth: "Current",
            notes: [
              "Building web app from scratch to help users compare medical services using success rate data, for grant-backed healthcare startup with 4-person team",
            ],
            technologies: [
              "Supabase",
              "Next.js",
              "Typescript",
              "Tailwind CSS",
              "Figma",
            ],
          },
        ],
      },
      {
        name: "Capital One",
        image: capitalOneLogo,
        positions: [
          {
            title: "Software Engineering Intern",
            location: "McLean, VA",
            startMonth: "Jun 2023",
            endMonth: "Aug 2023",
            notes: [
              "Built Chrome extension with React",
              "Completed 4-week curriculum on full-stack technologies including Go, React, and Linux",
            ],
            technologies: ["React", "Go", "Linux"],
          },
        ],
      },
      {
        name: "Joint Special Operations Command",
        image: jsocLogo,
        positions: [
          {
            title: "Software Engineering Intern",
            startMonth: "Jun 2022",
            endMonth: "Aug 2022",
            location: "Remote",
            notes: [
              "Created Python interface for internal Node API; improved React frontend",
            ],
            technologies: ["Python", "React", "Node"],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "research experience",
    type: "organizations",
    icon: "material-symbols:lab-research",
    entries: [
      {
        name: "Dioptra",
        image: dioptraLogo,
        positions: [
          {
            title: "Independent Research Assistant",
            startMonth: "Dec 2023",
            endMonth: "Dec 2024",
            location: "Remote",
            notes: [
              "Helped create GameBench: a benchmark to test the strategic reasoning ability of large language models",
              "Coded benchmark task, conducted literature review, wrote related works section, did factor analysis, and helped present at the Language Gamification Workshop at NeurIPS 2024",
            ],
            technologies: ["Python"],
          },
        ],
      },
      {
        name: "ACM UTD Research Program",
        image: acmResearchLogo,
        positions: [
          {
            title: "Director",
            startMonth: "May 2022",
            endMonth: "Dec 2022",
            notes: [
              "Directed semester-long undergraduate research program with 15% admission rate",
              "Managed 4 teams of 6 students each, hosted poster presentation event for 50+ attendees",
            ],
          },
          {
            title: "Team Lead",
            startMonth: "Dec 2021",
            endMonth: "Apr 2022",
            notes: [
              "Fine-tuned GPT-3 to generate targeted password guesses, achieved 3+ times higher accuracy than baseline, won poster presentation contest versus 5 other teams, amassed 70 stars on GitHub",
              "Presented at the Hackers on Planet Earth conference to audience of 20+",
            ],
          },
          {
            title: "Assistant",
            startMonth: "Sep 2021",
            endMonth: "Nov 2021",
            notes: [
              "Trained LSTM model with team of 4, won poster presentation contest versus 5 other teams",
            ],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "projects",
    type: "items",
    icon: "material-symbols:rocket-launch-outline",
    entries: [
      {
        name: 'Demo for "I"',
        link: "https://roman.technology/projects/i-demo/",
        notes: [
          "Simulated trading platform for securitized income share agreements",
        ],
        technologies: [
          "Figma",
          "Next.js",
          "Vercel",
          "Supabase",
          "Tailwind CSS",
        ],
      },
      {
        name: "Research project page template",
        link: "https://roman.technology/projects/research-project-page-template/",
        notes: ["Polished template for academic project pages"],
        technologies: ["Astro", "Tailwind CSS"],
      },
      {
        name: "Your life (before the singularity) in weeks",
        link: "https://your-life.roman.technology/",
        notes: [
          "Visualization of how much of your pre-AGI life you've lived, using the Metaculus API",
        ],
        technologies: ["Next.js"],
      },
      {
        name: "Manifold Markets Depth Chart Feature",
        link: "https://manifold.markets",
        notes: [
          "React component to visualize market depth of prediction markets",
          "Won 3rd place in hackathon and pushed to production on site with 800+ daily active users",
        ],
        technologies: ["React", "Typescript"],
      },
      {
        name: "MF FOOM",
        link: "http://roman.technology/posts/mf-foom/",
        notes: [
          "Fine-tuned GPT-3 on the lyrics of 96 MF DOOM songs to write lyrics in his style, then cloned his voice to edit those lyrics into a song",
        ],
        technologies: ["Python", "GPT-3", "ElevenLabs"],
      },
      {
        name: "Just Arrived – HackUTD VIII",
        link: "https://devpost.com/software/fresh-off-the-plane",
        notes: [
          "Frontend for mobile app to help international students, won hackathon challenge",
        ],
        technologies: ["Flutter"],
      },
    ] as ItemData[],
  },
  {
    name: "professional development",
    type: "items",
    icon: "material-symbols:explore-outline",
    entries: [
      {
        name: "Global Challenges Project Existential Risk Workshop",
        location: "Berkeley, CA",
        startMonth: "Nov 2023",
      },
      {
        name: "Program on AI and Reasoning",
        location: "Cambridge, UK",
        startMonth: "Aug 2023",
        notes: [
          "Studied AI and cognition at 10-day camp for mathematically talented students (2.5% acceptance rate)",
        ],
      },
      {
        name: "AI safety workshop",
        location: "Berkeley, CA",
        startMonth: "Nov 2022",
      },
      {
        name: "Effective Altruism Introductory Program",
        location: "Remote",
        startMonth: "Oct 2022",
        endMonth: "Nov 2022",
      },
      {
        name: "TexSAW 2022 Capture The Flag Winner",
        location: "Dallas, TX",
        startMonth: "Apr 2022",
        notes: [
          "Won cybersecurity CTF competition with a partner against 10+ teams",
        ],
      },
      {
        name: "CodePath Cybersecurity course",
        location: "Remote",
        startMonth: "Jan 2022",
        endMonth: "Apr 2022",
      },
    ] as ItemData[],
  },
];
---

<html lang="en" style="font-family: 'Space Grotesk Variable', 'sans-serif';">
  <head>
    <BaseHead title="resume" description="Roman Hauksson's resume." />
  </head>

  <body class="flex flex-col gap-6 bg-slate-900 text-white">
    <Header />
    <main
      class="grid sm:gap-x-10 gap-y-6 grid-rows-[0fr_0fr] grid-rows-2 max-w-[70rem] w-full m-auto px-6"
    >
      <h1 class="row-start-1 col-start-2 font-bold text-5xl">resume</h1>
      <div class="hidden sm:block row-start-2 col-start-1 gap-2">
        <div class="sticky top-20 flex flex-col gap-2">
          <h2
            class="text-white/80 font-bold border-b border-b-1 border-b-white/30 pb-2"
          >
            contents
          </h2>
          <div class="flex flex-col gap-4">
            {
              sections.map((data: SectionData) => (
                <a
                  class="text-white/80 hover:text-white flex flex-row items-center gap-2"
                  href={`#${data.name}`}
                >
                  <Icon class="shrink-0 grow-0" name={data.icon} />
                  <span class="leading-none">{data.name}</span>
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <div class="row-start-2 col-start-2">
        <div class="flex flex-row gap-4">
          <Link
            link="https://www.linkedin.com/in/romanhauksson"
            icon="mdi:linkedin"
          />
          <Link link="https://github.com/romanhauksson" icon="mdi:github" />
          <Link link="/resume.pdf" icon="mdi:file-pdf-box" />
        </div>

        <Acclaim />

        <div
          style={{
            marginBlockStart: "1em",
          }}
        >
          {sections.map((data: SectionData) => <Section data={data} />)}
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
