---
import type {
  SectionData,
  OrganizationData,
  PositionData,
  ItemData,
} from "../types/resume";
import Link from "../components/resume/Link.astro";
import Praise from "../components/resume/Praise.astro";
import { Icon } from "astro-icon/components";
import Section from "../components/resume/Section.astro";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const sections: SectionData[] = [
  {
    name: "education",
    icon: "material-symbols:school-outline",
    type: "organizations",
    entries: [
      {
        name: "University of Texas at Dallas",
        positions: [
          {
            title: "B.S. in Computer Science",
            startMonth: "Aug 2021",
            endMonth: "Dec 2025 (Expected)",
            notes: [
              "National Merit Scholar, Cybersecurity Group officer, Open Source Software Club officer",
            ],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "work experience",
    type: "organizations",
    icon: "material-symbols:work-outline",
    entries: [
      {
        name: "Capital One",
        positions: [
          {
            title: "Software Engineering Intern",
            location: "McLean, VA",
            startMonth: "Jun 2023",
            endMonth: "Aug 2023",
            notes: [
              "Created Chrome extension with React, refactored build tool to increase preview speed by 300%",
              "Completed 4-week curriculum on full-stack technologies including Go, React, and Linux",
            ],
          },
        ],
      },
      {
        name: "Joint Special Operations Command",
        positions: [
          {
            title: "Software Engineering Intern",
            startMonth: "Jun 2022",
            endMonth: "Aug 2022",
            location: "Remote",
            notes: ["Created Python interface for internal Node API"],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "research experience",
    type: "organizations",
    icon: "material-symbols:search",
    entries: [
      {
        name: "Dioptra",
        positions: [
          {
            title: "Independent Research Assistant",
            startMonth: "Dec 2023",
            endMonth: "Current",
            location: "Remote",
            notes: [
              "Helped create GameBench: a benchmark to test the strategic reasoning ability of large language models",
              "Coded benchmark task, conducted literature review, wrote related works section, did factor analysis",
              "Currently researching international AI governance",
            ],
          },
        ],
      },
      {
        name: "ACM UTD Research Program",
        positions: [
          {
            title: "Director",
            startMonth: "May 2022",
            endMonth: "Dec 2022",
            notes: [
              "Directed semester-long undergraduate research program with 15% admission rate",
              "Managed 4 teams of 6 students each, hosted poster presentation event for 50+ attendees",
            ],
          },
          {
            title: "Team Lead",
            startMonth: "Dec 2021",
            endMonth: "Apr 2022",
            notes: [
              "Fine-tuned GPT-3 to generate targeted password guesses, achieved 3+ times higher accuracy than baseline, won poster presentation contest versus 5 other teams, amassed 70 stars on GitHub",
              "Presented separately at the Hackers on Planet Earth conference to audience of 20+",
            ],
          },
          {
            title: "Assistant",
            startMonth: "Sep 2021",
            endMonth: "Nov 2021",
            notes: [
              "Trained LSTM model with team of 4, won poster presentation contest versus 5 other teams",
            ],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "projects",
    type: "items",
    icon: "material-symbols:rocket-launch-outline",
    entries: [
      {
        name: 'Demo for "I"',
        link: "https://roman.technology/projects/i-demo/",
        notes: [
          "Designed and coded simulated trading platform for securitized income share agreements",
        ],
        technologies: ["Figma", "Next", "Vercel", "Supabase", "Tailwind"],
      },
      {
        name: "Manifold Markets Depth Chart Feature",
        link: "https://manifold.markets",
        notes: [
          "Created React component to visualize prediction market depth, won 3rd place in hackathon, pushed to production on site with 800+ daily active users",
        ],
        technologies: ["React", "Typescript"],
      },
      {
        name: "MF FOOM",
        link: "http://roman.technology/projects/mf-foom/",
        notes: [
          "Fine-tuned GPT-3 on the lyrics of 96 MF DOOM songs to write lyrics in his style, then cloned his voice to edit those lyrics into a song",
        ],
        technologies: ["Python", "GPT-3", "ElevenLabs"],
      },
      {
        name: "Just Arrived – HackUTD VIII",
        link: "https://devpost.com/software/fresh-off-the-plane",
        notes: [
          "Designed and coded frontend for app to help international students, won hackathon challenge",
        ],
        technologies: ["Flutter"],
      },
    ] as ItemData[],
  },
  {
    name: "professional development",
    type: "items",
    icon: "material-symbols:explore-outline",
    entries: [
      {
        name: "Global Challenges Project Existential Risk Workshop",
        location: "Berkeley, CA",
        startMonth: "Nov 2023",
      },
      {
        name: "Program on AI and Reasoning",
        location: "Cambridge, UK",
        startMonth: "Aug 2023",
        notes: [
          "Studied AI and cognition at 10-day camp for mathematically talented students (2.5% acceptance rate)",
        ],
      },
      {
        name: "AI safety workshop",
        location: "Berkeley, CA",
        startMonth: "Nov 2022",
      },
      {
        name: "Effective Altruism Introductory Program",
        location: "Remote",
        startMonth: "Oct 2022",
        endMonth: "Nov 2022",
      },
      {
        name: "TexSAW 2022 Capture The Flag Winner",
        location: "Dallas, TX",
        startMonth: "Apr 2022",
        notes: [
          "Won cybersecurity CTF competition with a partner against 10+ teams",
        ],
      },
      {
        name: "CodePath Cybersecurity course",
        location: "Remote",
        startMonth: "Jan 2022",
        endMonth: "Apr 2022",
      },
    ] as ItemData[],
  },
];
---

<html lang="en">
  <head>
    <BaseHead title="resume" description="Roman Hauksson's resume." />
  </head>

  <body class="flex flex-col gap-6 bg-slate-900 text-white">
    <Header />
    <main
      class="grid sm:gap-x-10 gap-y-6 grid-rows-[0fr_0fr] grid-rows-2 max-w-[55rem] w-full m-auto px-6"
    >
      <h1 class="row-start-1 col-start-2 font-bold text-5xl">resume</h1>
      <div class="hidden sm:block row-start-2 col-start-1 gap-2">
        <div class="sticky top-20 flex flex-col gap-2">
          <h2
            class="text-white/80 font-bold border-b border-b-1 border-b-white/30 pb-2"
          >
            contents
          </h2>
          {
            sections.map((data: SectionData) => (
              <a
                class="text-white/80 hover:text-white flex flex-row items-center gap-2"
                href={`#${data.name}`}
              >
                <Icon name={data.icon} />
                <span>{data.name}</span>
              </a>
            ))
          }
        </div>
      </div>
      <div class="row-start-2 col-start-2 flex flex-col gap-6">
        <section>
          <div class="flex flex-row gap-4">
            <Link
              link="https://www.linkedin.com/in/romanhauksson"
              icon="mdi:linkedin"
            />
            <Link link="https://github.com/romanhauksson" icon="mdi:github" />
            <Link link="/resume.pdf" icon="mdi:file-pdf-box" />
          </div>
        </section>

        <Praise />

        <section class="flex flex-col gap-4">
          {sections.map((data: SectionData) => <Section data={data} />)}
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>
