---
import type {
  SectionData,
  OrganizationData,
  PositionData,
  ItemData,
} from "../types/resume";

import "@fontsource-variable/space-grotesk";
import Link from "../components/resume/Link.astro";
import Acclaim from "../components/resume/Acclaim.astro";
import { Icon } from "astro-icon/components";
import Section from "../components/resume/Section.astro";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import capitalOneLogo from "../assets/capital-one-logo.png";
import acmResearchLogo from "../assets/acm-research-logo.png";
import jsocLogo from "../assets/jsoc-logo.png";
import utdLogo from "../assets/utd-logo.svg";
import babyStepsLogo from "../assets/baby-steps-logo.svg";
import dioptraLogo from "../assets/dioptra-logo-upscaled.png";

const sections: SectionData[] = [
  {
    name: "education",
    icon: "material-symbols:school-outline",
    type: "organizations",
    entries: [
      {
        name: "University of Texas at Dallas",
        image: utdLogo,
        positions: [
          {
            title: "B.S. in Computer Science",
            startMonth: "Aug 2021",
            endMonth: "May 2026 (Expected)",
            notes: [
              "National Merit Scholar",
              "Officer for Cybersecurity Group, Open Source Software Club, and Philosophy Club",
            ],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "work experience",
    type: "organizations",
    icon: "material-symbols:work-outline",
    entries: [
      {
        name: "Baby Steps",
        image: babyStepsLogo,
        positions: [
          {
            title: "Founding Engineer",
            location: "Portland, OR (Hybrid)",
            startMonth: "Aug 2024",
            endMonth: "Current",
            notes: [
              "Building web app to help prospective parents decide which IVF clinic to go to, using a personalized success rate forecasting model, with 3-person team",
              "Backed by Astral Codex Ten Grants and a private investor",
            ],
            technologies: [
              "React (Next.js)",
              "TypeScript",
              "PostgreSQL (Supabase, Neon)",
              "Tailwind CSS",
              "Stripe",
              "Figma",
            ],
          },
        ],
      },
      {
        name: "Capital One",
        image: capitalOneLogo,
        positions: [
          {
            title: "Software Engineering Intern",
            location: "McLean, VA",
            startMonth: "Jun 2023",
            endMonth: "Aug 2023",
            notes: [
              "Built Chrome extension with React",
              "Completed 4-week curriculum on full-stack technologies including Go, React, and Linux",
            ],
            technologies: ["React", "Go"],
          },
        ],
      },
      {
        name: "Joint Special Operations Command",
        image: jsocLogo,
        positions: [
          {
            title: "Software Engineering Intern",
            startMonth: "Jun 2022",
            endMonth: "Aug 2022",
            location: "Remote",
            notes: [
              "Created Python interface for internal Node API; improved React frontend",
            ],
            technologies: ["Python", "React", "Node"],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "research experience",
    type: "organizations",
    icon: "material-symbols:lab-research",
    entries: [
      {
        name: "Dioptra",
        image: dioptraLogo,
        positions: [
          {
            title: "Research Assistant",
            startMonth: "Dec 2023",
            endMonth: "Dec 2024",
            location: "Remote",
            notes: [
              "Helped create GameBench, an LLM benchmark for strategic reasoning ability",
              "Coded benchmark task, conducted literature review, wrote related work section, ran factor analysis, and presented at the Language Gamification Workshop at NeurIPS 2024",
              "Researched the Wassenaar Arrangement as inspiration for international AI governance",
            ],
            technologies: ["Python"],
          },
        ],
      },
      {
        name: "ACM UTD Research Program",
        image: acmResearchLogo,
        positions: [
          {
            title: "Research Assistant → Team Lead → Director",
            startMonth: "Sep 2021",
            endMonth: "Dec 2022",
            technologies: ["Python"],
            notes: [
              "Trained LSTM model with team of 4, won poster presentation contest versus 5 other teams",
              "Fine-tuned GPT-3 to generate targeted password guesses, achieved 3+ times higher accuracy than baseline, won poster presentation contest versus 5 other teams",
              "Presented research at Hackers on Planet Earth conference in NYC to audience of 20+",
              "Became youngest director of semester-long undergraduate research program with 15% admission rate; managed 4 teams of 6 students each and hosted poster presentation event for 50+ attendees",
            ],
          },
        ],
      },
    ] as OrganizationData[],
  },
  {
    name: "competitions",
    type: "items",
    icon: "material-symbols:trophy-outline",
    entries: [
      {
        name: "HackRice 2025: Warp Challenge winner, TwelveLabs challenge 2nd place",
        link: "https://devpost.com/software/touchgrass-zmtngr",
        startMonth: "Sep 2025",
        notes: [
          "Built TouchGrass, a web app to help programmers avoid burning out, with team of 3",
        ],
        location: "Houston, TX",
        technologies: ["React", "TypeScript", "Convex"],
      },
      {
        name: "Manifold Markets Hackathon: 3rd place",
        link: "https://github.com/manifoldmarkets/manifold/commit/5474baee82ba6cba8befe06da42e3b7f6cad5e7b",
        notes: [
          "Built a React component to visualize the market depth of prediction markets",
          "Helped push to production the next day, on a site with 800+ daily active users",
        ],
        location: "Berkeley, CA",
        startMonth: "Mar 2023",
        technologies: ["React", "TypeScript"],
      },
      {
        name: "TexSAW 2022 Capture The Flag competition: 1st place",
        link: "https://csi.utdallas.edu/events/texsaw-2022/",
        location: "Dallas, TX",
        startMonth: "Apr 2022",
        notes: ["With team of 2, versus 10 other teams"],
      },
      {
        name: "HackUTD VIII: Project Nebula challenge winner",
        startMonth: "Nov 2021",
        link: "https://devpost.com/software/fresh-off-the-plane",
        notes: ["Built mobile app for international students, with team of 3"],
        technologies: ["Flutter"],
        location: "Dallas, TX",
      },
    ] as ItemData[],
  },
  {
    name: "projects",
    type: "items",
    icon: "material-symbols:rocket-launch-outline",
    entries: [
      {
        name: "Research Project Page Template",
        link: "https://roman.technology/posts/research-project-page-template/",
        notes: [
          "Open-source website template and component library to help researchers present their papers",
          "400+ GitHub stars, used by hundreds of labs, including teams at ByteDance Seed, NVIDIA Research, MIT CSAIL, Oxford, Princeton, and Imperial College London",
        ],
        technologies: ["React", "TypeScript", "Astro", "Tailwind CSS"],
      },
      {
        name: 'Demo for "I"',
        link: "https://roman.technology/posts/i-demo/",
        notes: [
          "Simulated trading platform for securitized income share agreements",
        ],
        technologies: [
          "React (Next.js)",
          "TypeScript",
          "PostgreSQL (Supabase)",
          "Tailwind CSS",
          "Figma",
        ],
      },
      {
        name: "Your Life (Before the Singularity) in Weeks",
        link: "https://your-life.roman.technology/",
        notes: [
          "Simple web app showing you how much of your pre-AGI life you've lived, using the Metaculus API",
        ],
        technologies: ["React (Next.js)"],
      },
    ] as ItemData[],
  },
  {
    name: "professional development",
    type: "items",
    icon: "material-symbols:explore-outline",
    entries: [
      {
        name: "Global Challenges Project Existential Risk Workshop",
        location: "Berkeley, CA",
        startMonth: "Nov 2023",
        notes: [
          "Studied existential risks from AI and bioengineered pathogens",
        ],
      },
      {
        name: "Program on AI and Reasoning",
        location: "Cambridge, UK",
        startMonth: "Aug 2023",
        notes: [
          "Studied AI and cognition at 10-day camp for mathematically talented students (2.5% acceptance rate)",
        ],
      },
      {
        name: "AI Safety Weekend Workshop",
        location: "Berkeley, CA",
        startMonth: "Nov 2022",
      },
      {
        name: "Effective Altruism Introductory Program",
        location: "Remote",
        startMonth: "Oct 2022",
        endMonth: "Nov 2022",
      },
      {
        name: "CodePath Cybersecurity course",
        location: "Remote",
        startMonth: "Jan 2022",
        endMonth: "Apr 2022",
      },
    ] as ItemData[],
  },
];
---

<html lang="en" style="font-family: 'Space Grotesk Variable', 'sans-serif';">
  <head>
    <BaseHead title="resume" description="Roman Hauksson-Neill's resume." />
  </head>

  <body class="flex flex-col gap-6 bg-slate-900 text-white">
    <Header />
    <main
      class="grid sm:gap-x-10 gap-y-6 grid-rows-[0fr_0fr] grid-rows-2 max-w-[70rem] w-full m-auto px-6"
    >
      <h1 class="row-start-1 col-start-2 font-bold text-5xl">resume</h1>
      <div class="hidden sm:block row-start-2 col-start-1 gap-2">
        <div class="sticky top-20 flex flex-col gap-2">
          <h2
            class="text-white/80 font-bold border-b border-b-1 border-b-white/30 pb-2"
          >
            contents
          </h2>
          <div class="flex flex-col gap-4">
            {
              sections.map((data: SectionData) => (
                <a
                  class="text-white/80 hover:text-white flex flex-row items-center gap-2"
                  href={`#${data.name}`}
                >
                  <Icon class="shrink-0 grow-0" name={data.icon} />
                  <span class="leading-none">{data.name}</span>
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <div class="row-start-2 col-start-2">
        <div class="flex flex-row gap-4">
          <Link
            link="https://www.linkedin.com/in/romanhauksson"
            icon="mdi:linkedin"
          />
          <Link link="https://github.com/romanhauksson" icon="mdi:github" />
          <Link link="/resume_2025-09-19.pdf" icon="mdi:file-pdf-box" />
        </div>

        <Acclaim />

        <div
          style={{
            marginBlockStart: "1em",
          }}
        >
          {sections.map((data: SectionData) => <Section data={data} />)}
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
