---
import Page from "../layouts/Page.astro";
---

<Page title={"contact"} description={"Contact Roman Hauksson."}>
  <section class="prose prose-slate prose-invert">
    <p>
      <ul>
        <li><a href="mailto:roman.i0djm@aleeas.com">Email</a></li>
        <li>
          <a href="https://cal.com/romanhauksson/meeting">Schedule a call</a>
        </li>
        <li><a href="https://github.com/romanhauksson">GitHub</a></li>
        <li><a href="https://linkedin.com/in/romanhauksson">LinkedIn</a></li>
        <li><a href="https://x.com/romanhauksson">X</a></li>
      </ul>
    </p>
  </section>
</Page>
