---
import Page from "../layouts/Page.astro";
---

<Page title={"contact"} description={"Contact Roman Hauksson."}>
  <section>
    <p class="prose prose-slate prose-invert">
      <a href="mailto:roman.i0djm@aleeas.com">Email me</a> or book a call with me
      using <a href="https://cal.com/romanhauksson/meeting">Cal</a>.
    </p>
  </section>
</Page>
