---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../layouts/Page.astro";
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Hi, my name's Roman.</h1>
  <p>I'm trying to make the future go well.</p>
</Page>
