---
import Page from "../layouts/Page.astro";
---

<Page title={"resume"} description={"Roman Hauksson's resume."}>
  <section>
    <object data="/resume.pdf" class="w-full aspect-[0.7]"></object>
  </section>
</Page>
