---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class="bg-indigo-700 rounded-full font-bold text-white hover:rotate-3 active:rotate-0 active:scale-90 duration-75 px-3 py-2 shadow-lg"
  class:list={[className]}
  {...props}
>
  <slot />
</a>
