---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="flex flex-row justify-between">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="flex flex-row">
      <HeaderLink href="/projects">projects</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
    </div>
  </nav>
</header>
