---
import ResumeEntry from "./ResumeEntry.astro";
import type { ResumeEntryData, ResumeSectionData } from "../types";
interface Props {
  data: ResumeSectionData;
}
const { name, entries } = Astro.props.data;
---

<section class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">{name}</h2>
  <ul class="flex flex-col gap-2">
    {
      entries.map((entryData: ResumeEntryData) => (
        <ResumeEntry data={entryData} />
      ))
    }
  </ul>
</section>
