---
import ResumeEntry from "./ResumeEntry.astro";
import { Icon } from "astro-icon/components";
import type { ResumeEntryData, ResumeSectionData } from "../types";
interface Props {
  data: ResumeSectionData;
}
const { name, entries, icon } = Astro.props.data;
---

<section
  id={name}
  class="flex flex-col gap-2 scroll-mt-16 target:animate-flash p-2 rounded-lg"
>
  <div class="font-bold text-3xl flex flex-row items-center gap-2">
    {icon && <Icon class="inline-block" name={icon} />}
    <h2 class="">{name}</h2>
  </div>
  <ul class="flex flex-col gap-2">
    {
      entries.map((entryData: ResumeEntryData) => (
        <ResumeEntry data={entryData} />
      ))
    }
  </ul>
</section>
