---
interface Props {
  caption?: string;
  border?: boolean;
}

const { caption, border = false } = Astro.props;
---

<figure class="self-center w-full flex flex-col">
  <div
    class="[&>*]:max-h-[35rem] [&>*]:rounded-lg rounded-lg flex justify-center w-full overflow-hidden [&>*]:m-0"
  >
    <slot />
  </div>
  {
    caption && (
      <figcaption class="text-center text-zinc-300">{caption}</figcaption>
    )
  }
</figure>
