---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="sticky top-0 z-10">
  <nav
    class="flex flex-col min-h-16 sm:flex-row items-center justify-between gap-x-6 gap-y-2 py-3 px-6 bg-slate-900/80 backdrop-blur border-b-[1px] border-slate-900"
  >
    <h1 class="font-bold text-xl text-white leading-tight text-nowrap">
      <a href="/">{SITE_TITLE}</a>
    </h1>
    <div class="flex flex-row gap-4">
      <HeaderLink href="/posts">posts</HeaderLink>
      <HeaderLink href="/resume">resume</HeaderLink>
    </div>
  </nav>
</header>
